<form action="/staff/updateTrainee" method="POST">

  <div class="form-group" style="display: none;">
    <label for="exampleInputPassword1">ID</label>
    <input type="number" class="form-control" id="exampleInputPassword1"
      name="id"
      value="<%= trainee.id %>"
      readonly
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" class="form-control" id="exampleInputPassword1"
      name="name"
      value="<%= trainee.name %>"
    >
  </div>


  <div class="form-group">
    <label for="exampleInputPassword1">Age</label>
    <input type="number" class="form-control" id="exampleInputPassword1"
      name="age"
      value="<%= trainee.age %>"
    >
  </div>


  <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="text" class="form-control" id="exampleInputPassword1"
      name="email"
      value="<%= trainee.email %>"
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Date of Birth</label>
    <input type="text" class="form-control" id="exampleInputPassword1"
      name="dateOfBirth"
      value="<%= trainee.dateOfBirth %>"
    >
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Education</label>
    <input type="text" class="form-control" id="exampleInputPassword1"
      name="education"
      value="<%= trainee.education %>"
    >
  </div>

  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>